<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="/add_menu">Add menu</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_menu">view menu</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/add_delivery_boy">Add delivery boy</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_delivery_boy">view delivery boy</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="/restaurant_view_order">view order</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="/restaurant_view_rating">view rating</a></th>
    </tr> <tr>
      <th scope="row"><a href="/restaurant_change_password">change password</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/logout">Logout</a></th>
    </tr>

  </table>
</form>
</body>
</html>
