{% extends 'restaurant/restaurant_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered">
    <tr style="color: black;background-color: #FEA116">
      <th scope="col">Sl.No</th>
      <th scope="col">Name</th>
{#      <th scope="col">Amount</th>#}
      <th scope="col"> Image</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.name }}</td>
{#      <td>&nbsp;{{ i.amount }}</td>#}
      <td>&nbsp;<img src="{{ i.photo }}" width="100px" height="100px" alt=""/><br><b>₹</b>{{ i.amount }}</td>
      <td><a href="/edit_menu/{{ i.id }}#aaa" class="btn btn-outline-primary">Update</a><br><br>
      <a href="/remove_menu/{{ i.id }}" onclick="return confirm('Are you sure?')" class="btn btn-outline-dark">Remove</a>
      </td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>

{% endblock %}