{% extends 'restaurant/restaurant_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered">
    <tr style="color: black;background-color: #FEA116">
      <th scope="col">Sl.No</th>
      <th scope="col">Userinfo</th>
      <th scope="col">Amount </th>
      <th scope="col">Payment Date</th>
      <th scope="col">Payment Status</th>

      <th scope="col">Status</th>
      <th scope="col">Date</th>
      <th scope="col">Delivery Status</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;Name:{{ i.USER.name }}<br>Contact:{{ i.USER.contact }}</td>
      <td>&nbsp;{{ i.amount }}</td>
      <td>&nbsp;{{ i.payment_date }}</td>
      <td>&nbsp;{{ i.payment_status }}</td>

      <td>&nbsp;{{ i.status }}</td>
      <td>&nbsp;{{ i.date }}</td>
        {% if i.delivery_status == 'pending' %}
      <td><a href="/allocate_delivery_boy/{{ i.id }}#aaa" class="btn btn-outline-primary">Allocate Delivery Boy</a></td>
        {% else %}
        <td>&nbsp;{{ i.delivery_status }}</td>
        {% endif %}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>

{% endblock %}
